<div class="episodes-container">    
    <label for="seriesTitleInput">Búsqueda de la Serie:</label>
    <input
        id="seriesTitleInput"
        type="text"
        class="series-title-input"
        [(ngModel)]="seriesTitle"
        (change)="onSeriesTitleChange()"
        placeholder="Escribe el nombre de la serie"
    />
    
    <h2>Listado de episodios de la Serie: {{ seriesTitle }}</h2>
    
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>

        <label for="seasonSelect">Seleccione la Temporada:</label>
    <select
        id="seasonSelect"
        [(ngModel)]="season"
        (change)="onSeasonChange()"
        [disabled]="!!errorMessage"
    >
        <option *ngFor="let seasonNumber of [].constructor(totalSeasons); let i = index" [value]="i + 1">
            Temporada {{ i + 1 }}
        </option>
    </select>
    
    <ul *ngIf="episodes.length > 0 && !errorMessage; else noEpisodes">
        <li *ngFor="let episode of episodes">
            <strong>{{ episode.Title }}</strong> - Emitido el: {{ episode.Released }} - Calificación: {{ episode.imdbRating }}
        </li>
    </ul>

        <ng-template #noEpisodes>
        <p>Temporada no disponible.</p>
    </ng-template>
</div>
